<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <script type="text/javascript" src="js/d3.v3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
  <!-- <link rel="stylesheet" type="text/css" href="css/sequences.css"/> -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/calendar.css" rel="stylesheet">
</head>

<body>
  <noscript>&lt;div class="noscriptWarning"&gt;&lt;p&gt;SETHEO suggests using JavaScript to be enabled for full functionality&lt;/p&gt;&lt;/div&gt;</noscript>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class=".col-sm-4">
            <a class="brand" href=""></a>
          </div>
          <div class=".col-sm-4 navbar pages">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-li linkReplace"><a href="../">Home</a></li> <!-- #home -->
              <li class="nav-li linkReplace"><a href="../about.html">About</a></li>   <!-- ../about.html -->
            </ul>
          </div>
        </div><!-- end .row -->
      </div>
    </nav>
  </header> 

  <div class="container-fluid">
    <div class="row page" id="projects-page">
      <div class="col-sm-12">
        <!-- Content
        ================================================== -->
        <div id="content" class="container-fluid">
        </div>
      </div>
    </div>
  </div>
</body>
<script>

var width = 960,
    height = 136,
    cellSize = 17; // cell size

var day = d3.time.format("%w"),
    week = d3.time.format("%U"),
    percent = d3.format(".1%"),
    format = d3.time.format("%Y-%m-%d");

var color = d3.scale.quantize()
    .domain([-.05, .05])
    .range(d3.range(11).map(function(d) { return "q" + d + "-11"; }));

var svg = d3.select("body").selectAll("svg")
    .data(d3.range(1990, 2011))
  .enter().append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "RdYlGn")
  .append("g")
    .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

svg.append("text")
    .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
    .style("text-anchor", "middle")
    .text(function(d) { return d; });

var rect = svg.selectAll(".day")
    .data(function(d) { return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
  .enter().append("rect")
    .attr("class", "day")
    .attr("width", cellSize)
    .attr("height", cellSize)
    .attr("x", function(d) { return week(d) * cellSize; })
    .attr("y", function(d) { return day(d) * cellSize; })
    .datum(format);

rect.append("title")
    .text(function(d) { return d; });

svg.selectAll(".month")
    .data(function(d) { return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
  .enter().append("path")
    .attr("class", "month")
    .attr("d", monthPath);

d3.csv('../data/calendar.csv', function(error, csv) {
  var data = d3.nest()
    .key(function(d) { return d.Date; })
    .rollup(function(d) { return (d[0].Close - d[0].Open) / d[0].Open; })
    .map(csv);

  rect.filter(function(d) { return d in data; })
      .attr("class", function(d) { return "day " + color(data[d]); })
    .select("title")
      .text(function(d) { return d + ": " + percent(data[d]); });
});

function monthPath(t0) {
  var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
      d0 = +day(t0), w0 = +week(t0),
      d1 = +day(t1), w1 = +week(t1);
  return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
      + "H" + w0 * cellSize + "V" + 7 * cellSize
      + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
      + "H" + (w1 + 1) * cellSize + "V" + 0
      + "H" + (w0 + 1) * cellSize + "Z";
}

d3.select(self.frameElement).style("height", "2910px");

</script>