<div class="row isotope" id="portfolio-items">
  
  <div class="col-sm-3 project zoom isotope-item c i" data-tags="c i" rel="popover" data-placement="bottom" data-content="
    &lt;ul&gt;
      &lt;li&gt;Value –(US$5,000,000.00)=R42million&lt;/li&gt;
      &lt;li&gt;Length-24 months&lt;/li&gt;
      &lt;li&gt;Client –Provincial Resettlement department.&lt;/li&gt;
      &lt;li&gt;Description –Building of 1400 low cost houses.the project included all other civil and electrical installation works upto completion.&lt;/li&gt;
    &lt;/ul&gt;
    "data-original-title="Sunburst circular paths" >
    <a href="sunburst.html" class="thumbnail">
      <img src="img/sunburst.png" style="">
      <b class="project-name">Sunburst circular paths</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s b isotope-item" data-tags="s b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Calendar" >

    <a href="calendar.html" class="thumbnail">
      <img src="img/calendar.png" style="">
      <b class="project-name">Calendar</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom i c isotope-item" data-tags="i c" rel="popover" data-placement="bottom" data-content="null" data-original-title="2 Metric Time" >

    <a href="2metric.html" class="thumbnail">
      <img src="img/2-metric-time.png" style="">
      <b class="project-name">2-metric-time</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom b s isotope-item" data-tags="b s" rel="popover" data-placement="bottom" data-content="null" data-original-title="Bar with negative values" >

    <a href="barnegative.html" class="thumbnail">
      <img src="img/barnegative.png" style="">
      <b class="project-name">Bar with negative values</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom b i isotope-item" data-tags="b i" rel="popover" data-placement="bottom" data-content="null" data-original-title="Crossfilter" >

    <a href="crossfilter.html" class="thumbnail">
      <img src="img/crossfilter.png" style="">
      <b class="project-name">Crossfilter</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>                       

  <div class="col-sm-3 project zoom s b isotope-item" data-tags="s b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Dual Bar" >

    <a href="dualbar.html" class="thumbnail">
      <img src="img/dualbar.png" style="">
      <b class="project-name">Dual Bar</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s b isotope-item" data-tags="s b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Difference" >

    <a href="difference.html" class="thumbnail">
      <img src="img/difference.png" style="">
      <b class="project-name">Difference</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom i b isotope-item" data-tags="i b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Sortable Bar" >

    <a href="sortablebar.html" class="thumbnail">
      <img src="img/sortablebar.png" style="">
      <b class="project-name">Sortable Bar</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s p isotope-item" data-tags="s p" rel="popover" data-placement="bottom" data-content="null" data-original-title="Scatterplot" >

    <a href="scatterplot.html" class="thumbnail">
      <img src="img/scatterplot.png" style="">
      <b class="project-name">Scatterplot</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom c b l i s p isotope-item" data-tags="c b l i s p" rel="popover" data-placement="bottom" data-content="null" data-original-title="Info" >

    <a href="info.html" class="thumbnail">
      <img src="img/info.png" style="">
      <b class="project-name">Info</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom i s b c p isotope-item" data-tags="i s b c p" rel="popover" data-placement="bottom" data-content="null" data-original-title="Time" >

    <a href="scatterplottime.html" class="thumbnail">
      <img src="img/scatterplottime.png" style="">
      <b class="project-name">Scatterplot Time</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom i b c isotope-item" data-tags="i b c" rel="popover" data-placement="bottom" data-content="null" data-original-title="Transitions" >

    <a href="transitions.html" class="thumbnail">
      <img src="img/transitions.png" style="">
      <b class="project-name">Transitions</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s b isotope-item" data-tags="s b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Stacked Area" >

    <a href="stackedarea.html" class="thumbnail">
      <img src="img/stackedarea.png" style="">
      <b class="project-name">Stacked Area</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom b s isotope-item" data-tags="b s" rel="popover" data-placement="bottom" data-content="null" data-original-title="Box Plot" >

    <a href="boxplot.html" class="thumbnail">
      <img src="img/boxplot.png" style="">
      <b class="project-name">Box Plot</b>
    </a>
    <span class="zoom-overlay" style="top: 0px;">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s b isotope-item" data-tags="s b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Normalized Stacked" >

    <a href="normalizedstacked.html" class="thumbnail">
      <img src="img/normalizedstacked.png" style="">
      <b class="project-name">Normalized Stacked</b>
    </a>
    <span class="zoom-overlay" style="top: 0px; ">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom i b isotope-item" data-tags="i b" rel="popover" data-placement="bottom" data-content="null" data-original-title="Stacked Group" >

    <a href="stackedgroup.html" class="thumbnail">
      <img src="img/stackedgroup.png" style="">
      <b class="project-name">Stacked Group</b>
    </a>
    <span class="zoom-overlay" style="top: 0px; ">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s c isotope-item" data-tags="s c" rel="popover" data-placement="bottom" data-content="null" data-original-title="Bubble" >

    <a href="bubble.html" class="thumbnail">
      <img src="img/bubble.png" style="">
      <b class="project-name">Bubble</b>
    </a>
    <span class="zoom-overlay" style="top: 0px; ">&nbsp;</span>
  </div>

  <div class="col-sm-3 project zoom s c isotope-item" data-tags="s c" rel="popover" data-placement="bottom" data-content="null" data-original-title="Occurences" >

    <a href="occurence.html" class="thumbnail">
      <img src="img/occurence.jpg" style="">
      <b class="project-name">Occurences</b>
    </a>
    <span class="zoom-overlay" style="top: 0px; ">&nbsp;</span>
  </div>

</div>